zip_code=10001					# Your zip code
cache_file=/tmp/weather/shortwx_cache		# Location where the local weather cache file should be stored
wttr_url="https://wttr.in/$zip_code?format=3"	# You probably don't need to chagne this url
